<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NetFlims</title>
        <link rel="stylesheet" href="https://mistertea.fr/selene/css/style.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>NETFLIMS</h1>
            <nav>
                <a href="#home">Accueil</a>
                <a href="#movies">Films</a>
                <a href="#categories">Catégories</a>
            </nav>
            <a type=button href="/login">Login</a>
            <a type=button href="/logout">LogOut</a>
        </header>
        <main>
            <section id="home">
                <article>
                    <h2>NetFlims</h2>
                </article>
            </section>
            <section id="movies" th:if="@{/videos}">
                <h2>Vidéos</h2>
                <article th:each="video : ${videos}">
                    <figure>
                        <img th:src="@{${'img/' + video.image}}" th:alt="@{${'Affiche de ' + video.name}}">
                        <figcaption>
                            <h3 th:text="${video.name}"></h3>
                            <i th:text="${video.description}"></i>
                        </figcaption>
                    </figure>
                </article>
            </section>
            <section id="categories" th:if="@{/categories}">
                <h2>Catégories</h2>
                <article th:each="categorie : ${categories}">
                    <div th:text="${categorie.name}"></div>
                </article>
            </section>
        </main>
        <footer>
            <p>&copy; mistertea.fr - netflims</p>
        </footer>
    </body>
</html>