<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NetFlims</title>
        <link rel="stylesheet" href="https://mistertea.fr/selene/css/style.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>
        <main>
            <section id="categories" th:if="@{/categories}">
                <h2>Catégories</h2>
                <ul th:each="categorie : ${categories}">
                    <li th:text="${categorie.name}"></li>
                </ul>
            </section>
            <section id="movies" th:if="@{/videos}">
                <h2>Vidéos</h2>
                <article >
                        <figure th:each="video : ${videos}">
                            <img th:src="@{${'img/' + video.image}}" th:alt="@{${'Affiche de ' + video.name}}">
                            <figcaption>
                                <h3 th:text="${video.name}"></h3>
                                <i th:text="${video.description}"></i>
                                <i th:text="${video.staticId}"></i>
                            </figcaption>
                            <a th:href="@{'/videos/'+${video.staticId}}">Détails(dynamique)</a>
                            <a th:href="@{'/videos/66603c5c9cbe7c10f3d37530' }">Détails</a>
                        </figure>
                </article>
                <article>
                    <!--
                    <form th:action="@{/addMovie}" th:object="${movie}" method="post">
                        <label for="name">Nom du film
                            <input type="text" name="name" id="name" th:fields="*{name}">
                        </label>
                    </form>
                    -->
                </article>
            </section>
        </main>
        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
    </body>
</html>